.dashhead{
    overflow: hidden;
    padding:15px;
}
h2{
    float: left;
    margin:0
}

.signout{
    background-color: rgb(88,184,72);
    color:#fff;
    padding:5px 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border:1px solid rgb(88,184,72);
    margin-right:25px;
    float: right;
  }