.dashhead{
    overflow: hidden;
    padding:15px;
    background-color:rgb(62, 78, 91);
}
h2{
    float: left;
    margin:0;
    color: #fff;
}

.signout{
    background-color:rgb(62, 78, 91);
    color:#fff;
    padding:5px 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-right:25px;
    float: right;
    -webkit-appearance:none;
    appearance: none;
    -moz-appearance:none;
    cursor: pointer;

  } 